<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <h1>Welcome to math score prediction</h1>
    </header>
    <main>
        <article>
            <b>
            This is the machine learning project for predicting maths score of students based on different features like:gender,race or ethnicity,writting score etc.. 
            </b>
        </article>
    </main>
    <br>
    <a href="/predictdata"> <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="click here for prediction" required />
        </div>
    </a>

    
</body>
</html>